# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\0.PROJECT\Compiler\lox\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
